body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.site-header {
    background-color: ghostwhite;
    padding: 1em 0;
    border-bottom: 1px solid #e0e0e0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.site-header a {
    color: darkblue;
    text-decoration: none;
    margin-right: 1em;
}

.site-header a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.image-1 {
    background-image: url('./images/jumbotron.webp');
    background-repeat: no-repeat;
    height: 500px;
    background-position: center;
    background-size: cover;
    position: relative;
}

.half-opacity {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2em;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.jumbotron {
    margin: 0;
}

.display-4 {
    font-size: 2.5em;
    margin: 0.5em 0;
}

.lead {
    font-size: 1.25em;
    margin: 0;
}

.py-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}

.text-center {
    text-align: center;
}

.card-deck {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    margin-top: 2em;
}

.card {
    border: 1px solid #e0e0e0;
    border-radius: 0.25rem;
    padding: 1em;
    width: 100%;
    max-width: 18rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-10px);
}

.card-title {
    font-size: 1.25em;
    margin-bottom: 0.75em;
}

.card-subtitle {
    font-size: 1em;
    margin-bottom: 1em;
    color: #6c757d;
}

.card-text {
    margin-bottom: 1.5em;
}

.card-link {
    color: #007bff;
    text-decoration: none;
}

.card-link:hover {
    text-decoration: underline;
}

footer {
    background-color: #f8f9fa;
    padding: 2em 0;
    text-align: center;
    border-top: 1px solid #e0e0e0;
}

footer img {
    height: 24px;
    margin-bottom: 0.5em;
}

footer small {
    display: block;
    color: #6c757d;
}
